body {
  background-color: #f9f9f9;
}
socially {
  display: block;
}
fc-lists-list {
  display: block;
  padding: 25px 0;
}
fc-lists-list ul.fcLists {
  padding-left: 0;
  list-style-type: none;
}
fc-lists-list ul.fcLists > li {
  padding: 15px;
  background-color: #fff;
  margin: 15px 0;
  border: 3px solid #eaeaea;
}
fc-lists-list ul.fcLists > li .fcList-name {
  margin-top: 0px;
  margin-bottom: 20px;
}
fc-lists-list ul.fcLists > li .fcList-name a {
  text-decoration: none !important;
  font-weight: 400;
}
fc-lists-list ul.fcLists > li .fcList-description {
  font-weight: 300;
  padding-left: 18px;
  font-size: 14px;
}
fc-list-remove {
  float: right;
}
.rsvp-sum {
  width: 160px;
}
@media (min-width: 400px) {
  .rsvp-sum {
    float: right;
  }
}
@media (max-width: 400px) {
  .rsvp-sum {
    margin: 0 auto;
  }
}
.rsvp-sum > .rsvp-amount {
  display: inline-block;
  text-align: center;
  width: 50px;
}
.rsvp-sum > .rsvp-amount > .amount {
  font-weight: bold;
  font-size: 20px;
}
.rsvp-sum > .rsvp-amount > .rsvp-title {
  font-size: 11px;
  color: #aaa;
  text-transform: uppercase;
}
fc-list-add-button .md-fab {
  position: fixed;
  right: 15px;
  bottom: 15px;
}
.trainer-question {
  text-align: center;
  height: 250px;
}
.trainer-answer {
  height: 200px;
}
.trainer-answer-textarea {
  height: 108em;
  resize: none;
}
.trainer-answer-correct {
  color: red;
  font-size: 20px;
  padding: 40px;
}
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .trainer-question {
    text-align: center;
    height: 100px;
  }
  .trainer-answer {
    height: 80px;
  }
  .trainer-answer-textarea {
    height: 3em;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .trainer-question {
    text-align: center;
    height: 150px;
  }
  .trainer-answer {
    height: 100px;
  }
}
.isCorrect_true {
  background-color: #dff0d8;
  cursor: pointer;
}
.isCorrect_false {
  background-color: red;
}
.multi-choice-answer {
  cursor: pointer;
}
.multi-choice-answer:hover {
  background-color: #ebfffc;
}
.question h3 {
  color: #3498db;
  padding-bottom: 15px;
  font-size: 19px;
  font-weight: 500;
}
.repeat-wrap {
  padding: 1px 20px 2px 25px;
  border-left: 5px solid transparent;
}
