socially {
  display: block;
}
fc-lists-list {
  display: block;
  padding: 25px 0;
}
fc-lists-list ul.fcLists {
  padding-left: 0;
  list-style-type: none;
}
fc-lists-list ul.fcLists > li {
  padding: 15px;
  background-color: #fff;
  margin: 15px 0;
  border: 3px solid #eaeaea;
}
fc-lists-list ul.fcLists > li .fcList-name {
  margin-top: 0px;
  margin-bottom: 20px;
}
fc-lists-list ul.fcLists > li .fcList-name a {
  text-decoration: none !important;
  font-weight: 400;
}
fc-lists-list ul.fcLists > li .fcList-description {
  font-weight: 300;
  padding-left: 18px;
  font-size: 14px;
}
fc-list-remove {
  float: right;
}
.rsvp-sum {
  width: 160px;
}
@media (min-width: 400px) {
  .rsvp-sum {
    float: right;
  }
}
@media (max-width: 400px) {
  .rsvp-sum {
    margin: 0 auto;
  }
}
.rsvp-sum > .rsvp-amount {
  display: inline-block;
  text-align: center;
  width: 50px;
}
.rsvp-sum > .rsvp-amount > .amount {
  font-weight: bold;
  font-size: 20px;
}
.rsvp-sum > .rsvp-amount > .rsvp-title {
  font-size: 11px;
  color: #aaa;
  text-transform: uppercase;
}
fc-list-add-button .md-fab {
  position: fixed;
  right: 15px;
  bottom: 15px;
}
