
<button ng-hide="trainer.hide_charge_button" ng-click="trainer.iniTrainer()" class=" btn btn-lg btn-info">Lernen</button>
<!--<button ng-click="trainer.iniTrainerShuffle()" class=" btn btn-lg btn-info">Shuffle</button>-->
<div class="container">
    <div class="row">
        <div class="trainer-main card card-block col-xl-10">
            <div class="container">
                <progress class="progress" value="{{trainer.masteredFlashCards}}" max="{{trainer.totalFlashCardsToLearn}}">{{trainer.masteredFlashCards/trainer.totalFlashCardsToLearn}}%</progress>{{trainer.masteredFlashCards}}/
                {{trainer.totalFlashCardsToLearn}}</div>
            <show-learn-process></show-learn-process>
            <div class="trainer-question">
                <h2>{{trainer.flashCard.question}}</h2>
            </div>
            <div class="trainer-answer">
                <div class="form-group">
                    <textarea id="user_answer" ng-model="trainer.userAnswer" my-enter="trainer.setEnterAction(trainer.userAnswer)"
                              my-tab="trainer.acceptAnswer()" class="trainer-answer-textarea form-control"
                              ></textarea>
                </div>
                <div class="row">
                    <div ng-show="trainer.displayAnswer" class="form-group">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <button ng-click="trainer.acceptAnswer()" class=" btn btn-lg btn-info btn-block">Accept</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <button ng-click="trainer.denyAnswer()" class=" btn btn-lg btn-info btn-block">Next</button>
                        </div>
                    </div>
                    <div ng-hide="trainer.displayAnswer" class="form-group">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <button ng-click="trainer.showAnswer()" class=" btn btn-lg btn-info btn-block">Antwort zeigen</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <button ng-click="trainer.checkAnswer(trainer.userAnswer)" class=" btn btn-lg btn-info btn-block">Check</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container trainer-answer-correct">
                <p ng-show="trainer.displayAnswer">{{ trainer.flashCard.answer }}</p>
            </div>
        </div>
    </div>
</div>
<!--<div class="container">-->
    <!--<display-flash-card></display-flash-card>-->
<!--</div>-->





