.trainer-question {
  text-align: center;
  height: 250px;
}
.trainer-answer {
  height: 200px;
}
.trainer-answer-textarea {
  height: 108em;
  resize: none;
}
.trainer-answer-correct {
  color: red;
  font-size: 20px;
  padding: 40px;
}
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .trainer-question {
    text-align: center;
    height: 100px;
  }
  .trainer-answer {
    height: 80px;
  }
  .trainer-answer-textarea {
    height: 3em;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .trainer-question {
    text-align: center;
    height: 150px;
  }
  .trainer-answer {
    height: 100px;
  }
}
