<div class="container">
    <div class="form-group">
        <label for="listId">List Id</label>
        <input ng-model="csvListAdd.data.listId" type="text" class="form-control" id="listId">
    </div>
    <div class="form-group">
        <label for="usr">Keys:</label>
        <input ng-model="csvListAdd.data.keys" type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea ng-model="csvListAdd.data.csv" class="form-control" rows="5" id="comment">
            "Id","UserName"
"1","Sam Smith"
"2","Fred Frankly"
"1","Zachary Zupers"
        </textarea>
    </div>
    <button ng-click="csvListAdd.display()" id="convert">Convert to JSON</button>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea ng-model="csvListAdd.data.json" class="form-control" rows="5" id="comment"></textarea>
    </div>
    <button ng-click="csvListAdd.submit()" class="btn btn-success">Add Data!</button>
</div>
